<!DOCTYPE html>
<html lang="en">
<title>FYT Application Grader</title>
<meta charset="utf-8" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="google-signin-client_id" content="CLIENT_ID.apps.googleusercontent.com" />
<script src="/htmx/htmx.js"></script>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<style>{% include 'global.css' %}</style>

<h1>First-Year Trips Application Grader</h1>
<main>
<p>
Thank you so much for volunteering to grade First-Year Trips applications! Trips wouldn't be
possible without you :) </p>
<p>
While the applications are anonymous, if you recognize the applicant based on what they wrote,
please click the "skip" button to move on to the next application. For questions about the grading,
please refer to the following documents (links open in new tab):
<ul>
<li><a target=_blank href="https://docs.google.com/spreadsheets/d/1WhnOspD8Zp1L0rZNFzE356bjwFPJvuKxaeNWdyQUk3Y/edit?usp=sharing">Grading Rubric</a>
<li><a target=_blank href="https://docs.google.com/document/d/1cVYhRWiNP_18H-SiDaK0o9buAI3vlTF6rGknDCyu6SE/edit?pli=1">Training Materials</a>
</ul>

{% if logged_in !== true %}
<p>You will need to sign in using your Dartmouth-provided Google account.
<div id="g_id_onload"
     data-client_id="{{ GOOGLE_CLIENT_ID }}"
     data-callback="setJWT"
     data-auto_prompt="false">
</div>
<div class="g_id_signin"
     data-type="standard"
     data-size="large"
     data-theme="outline"
     data-text="sign_in_with"
     data-shape="rectangular"
     data-logo_alignment="left">
</div>
{% else %}
<div><button hx-post=/lock hx-swap=outerHTML>Get Application</button></div>
{% endif %}

</main>

<script>
function setJWT (jwt) {
  document.cookie = `google_auth=${jwt.credential}; SameSite=Strict; Secure`
  location.reload()
}
</script>
