/* https://communications.dartmouth.edu/visual-identity/design-elements/color-palette */
html {
  scrollbar-gutter: stable;
}

body {
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
}

form.login {
  display: grid;
  width: 200px;
  grid-template-columns: 100px 1fr;
  label { display: block; }
  button { margin-top: 10px; }
}

button.submit {
  width: 183px;
  height: 38px;
  color: #ffffff;
  background-color: #00693e;
  border-radius: 4px;
}

button.submit:hover {
  background-color: #12312b;
}


a:visited {
  text-decoration: none;
  color: #9d162e;
}

main {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  background-color: #00693e;
  padding: 20px;
  margin: 0px;
  color: #ffffff;
  display: flex;

  h1 {
    margin: 0 auto 0 0;
    a { text-decoration: none; }
  }

  .netid {
    margin: auto 10px;
    font-size: 16px;
  }

  div {
    margin: auto 10px;
  }

  a, a:visited {
    color:white;
  }

  form {
    margin: auto 10px;
  }

}

.app-fields {
  margin-top: 20px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;

  border-radius: 5px;
  border-color: #00693e;
  border-style: solid;
}

.no-response {
  color: gray;
}

.grading-form {
  border-radius: 5px;
  border-color: #00693e;
  border-style: solid;
  padding: 10px;
}

.grading-form > * {
  margin-top: 20px;
}

.grading-form form {
  max-width: 900px;
}

.free-response {
  margin-top: 30px;
  width: 90%;
}

.grading-form textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 130px;
  width: 100%;
  max-width: 800px;
}

.grading-form button.submit {
  margin-top: 10px;
}

.rubric-radio .headers {
  display: flex;
  flex-direction: row;
}

.rubric-radio input[type='radio'] {
  width: 70px;
  margin: 0px;
  height: 20px;
}

table.rubric-radio {
  display: grid;
  border-collapse: collapse;
}

.rubric-radio th, .rubric-radio td {
  padding: 7px 12px;
}

.rubric-radio .highlight {
  background-color: #e2e2e2;
}

